/* styles for the header footer and industry section */

/* filter: invert(100%); */

.header-top-row {
  background: #911719;
  color: white;
  width: 100%;
}

.mask-group-9 {
  margin: 1.2px 8.6px 3.1px 0;
  width: 13.7px;
  height: 13.7px;
}

.header-icon-letters{
  color: #FFFFFF;
}

.mask-group-3 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.mask-group-52 {
  width: 21.7px;
  height: 21.7px;
}

.container-113 {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  width: 138.2px;
  height: fit-content;
  box-sizing: border-box;
  position: absolute; 
  top: 0; 
  right: 0; 
}
.desktop-header-items {
  display: none;
}

.desktop-header-items-element {
  color: #911719;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 0;
  width: 150px;
}

.desktop-header-items-element-img {
  height: 100px;
  margin: 0px 50px 0px 50px;
}

.header-image-section {
  background: #911719;
}

.desktop-image-section-2-element-header {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.desktop-image-section-2-element-content {
  color: rgb(181, 181, 181);
  font-size: 15px;
  text-align: justify;
}

.desktop-image-section-1-element-img-1 {
  height: 400px;
  position: relative;
 
}

.desktop-image-section-1-element-img-2 {
  height: 400px;
  position: absolute;
  margin: 0px 0px 0px -500px;
 
}

.girl-image{
  transform: scaleX(-1);
}

.solution {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.solutions-item-1 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/analyzing-business-chart.jpeg") center/cover;
  /* background: linear-gradient(180deg, rgba(222, 179, 182, 0) 1.83%, #911719 120.9%); */
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-2 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/banner-4-scaled.png") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-3 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/pexels-fauxels-3184635.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-4 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/day-office-travel-agency.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-5 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/front-view-lawyer-working-with-documents.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-6 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/accountant-calculating-profit-with-financial-analysis-graphs.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-7 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/human-resources-concept-with-hand;.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-8 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/doctor-is-sitting-with-patient-doctor-is-checking-blue-color-hand.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-9 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/open-notebook-with-colorful-icons.jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.solutions-item-10 {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin: 5px 5px;
  object-fit: cover;
  background: url("../assets/images/business-person-looking-finance-graphs\ \(1\).jpeg") center/cover;
  background-position: center;
  position: relative;
  padding: 180px 0px 0px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.rectangle-red {
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(222, 179, 182, 0) 1.83%, #911719 120.9%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0.3px;
  bottom: 0px;
  height: 100%;
}

.solutions-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(145, 23, 25, 0.7)
  ); /* Gradient overlay */
  border-radius: 25px; /* Ensure overlay has the same border-radius */
}

.solutions-item-text {
  z-index: 99;
  position: relative;
}

.footer-container {
  color: white;
  padding: 10px;
  margin-top: 50px;
}

.footer-img {
  filter: invert(100%);
  height: 100px;
  width: 100px;
  margin: 0px 30px 0px 30px;
}

.about-us-column {
  display: flex;
  flex-direction: column;
}

.about-us-header {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 30px 10px 30px;
}

.about-us-content {
  text-align: justify;
  padding: 10px 30px 10px 30px;
}

.rights {
  margin: 40px 0px 0px 30px;
}

.quick-links-header {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 30px 10px 30px;
}

.quick-links {
  margin: 10px 0px 10px 45px;
}

.media {
  margin: 40px 0px 0px 30px;
}

.container-116 {
  display: flex;
  flex-direction: row;
  column-gap: 9.2px;
  width: 145px;
  box-sizing: border-box;
}

.mask-group-48 {
  width: 21.7px;
  height: 21.7px;
}

.mask-group-49 {
  width: 21.7px;
  height: 21.7px;
}
.mask-group-50 {
  width: 21.7px;
  height: 21.7px;
}
.mask-group-51 {
  width: 21.7px;
  height: 21.7px;
}
.mask-group-52 {
  width: 21.7px;
  height: 21.7px;
}

.news-letter-header {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 30px 10px 30px;
}

.news-letter-content {
  padding: 10px 30px 10px 30px;
}

/* *************recheck************ */
.container-97 {
  border-radius: 4px;
  background: #ffffff;
  position: relative;
  margin: 18.2px 0 78px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 32.4px 17px 32.4px;
  width: 418px;
  box-sizing: border-box;
}

.rectangle-202 {
  border-radius: 2px;
  background: #1c1c1c;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 122px;
  height: 44px;
}
.submit-55 {
  position: relative;
  overflow-wrap: break-word;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.container-93 {
  /* margin: 0px 0px 0px 80%; */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.designed-and-developed-by {
  margin: 19.2px 41.8px 23.6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.399;
  color: #ffffff;
}

.logo {
  width: 110.6px;
  height: 63.8px;
}

.contact-us{
    margin-top: 50px;
}

.industries{
margin-top: 50px;
}

.blocks{
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .header-top-row {
    background: #911719;
    color: white;
    width: 100%;
  }


.mask-group-3 {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    display: none;
  }

  .desktop-header-items-element {
    display: none !important;
  }

  .desktop-header-items-element-img {
    height: 50px;
    margin: 0px 25px 0px 25px;
  }

  .desktop-image-section-1-element-img-1 {
    height: 350px;
    position: relative;
  }

  .desktop-image-section-1-element-img-2 {
    height: 350px;
    position: absolute;
    margin: 0px 0px 0px -400px;
  }

  .solution {
    flex-direction: column; /* Change flex direction to column */
  }

  .solutions-item {
    height: 250px;
    width: 150px;
    border-radius: 25px;
    margin: 5px 5px;
    object-fit: cover;
    background: url("../assets/images/analyzing-business-chart.jpeg") center/cover;
    position: relative;
    padding: 180px 0px 0px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .solutions-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(145, 23, 25, 0.7)
    ); /* Gradient overlay */
    border-radius: 25px; /* Ensure overlay has the same border-radius */
  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .about-us-column {
    margin: 30px 0px 30px 0px;
  }

  .quick-links-column {
    margin: 30px 0px 30px 0px;
  }

  .container-97 {
    border-radius: 4px;
    background: #ffffff;
    position: relative;
    margin: 18.2px 0 78px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 32.4px 17px 32.4px;
    width: 410px;
    box-sizing: border-box;
  }

  .container-93 {
    margin: 0px 0px 0px 50%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
   
  }

  /* .container-93 {
  margin: 0px 0px 0px 1300px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
} */


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .desktop-header-items-element {
        color: #911719;
        font-size: 15px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        margin: auto 0 auto 0;
        width: 150px;
      }
}



/* styles for the contact us section */

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.image-group {
  display: flex;
  flex-direction: column;
}

.image-container {
  margin-bottom: 20px;
  position: relative;
}

.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-1 {
  border-radius: 76px 0 0 0;
  background-color: #7E1416;
}

.bg-2 {
  border-radius: 0 163.5px 0 0;
  background-color: #AB1B1E;
}

.bg-3 {
  border-radius: 0 0 0 44.1px;
  background-color: #AB1B1E;
}

.image-frame {
  width: 100%;
  overflow: hidden;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
}

.contact-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {

  border-radius: 10px;
  background: #FFEAEB;
  width: 527px;
  height: 58px;

}

.inputbar {
  border-radius: 10px;
  background: #FFEAEB;
  width: 527px;
  height: 58px;
}

.btn-primary {
  border-radius: 6px;
  background-color: #7E1416;
  color: #FFE1E2;
}




.group-7 {
  margin-right: 129px;
  display: flex;
  flex-direction: row;
  width: 564px;
  box-sizing: border-box;
  margin-top: 20px;
}

.container-128 {
  margin: 0 29.4px 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267.3px;
  box-sizing: border-box;
}

.rectangle-35 {
  border-radius: 76px 0 0 0;
  background: #7E1416;
  margin-bottom: 21.3px;
  width: 267.3px;
  height: 112px;
}

.rectangle-36 {
  border-radius: 0 0 0 44.1px;
  /* background: url('../assets/images/medium-shot-woman-working-laptop.png'); */
  width: 267.3px;
  height: 489.6px;
}

.rectangle-36-image {
  object-fit: cover;
  border-radius: 0 0 0 44.1px;
  width: 267.3px;
  height: 490px;
}

.container-92 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267.3px;
  box-sizing: border-box;
}

.rectangle-37 {
  border-radius: 0 163.5px 0 0;
  background: url('../assets/images/html-css-collage-concept-with-person.jpeg') 50% / cover no-repeat;
  margin: 0 0px 21.3px 0;
  width: 267.3px;
  height: 229.7px;
}

.rectangle-38 {
  margin: 0 0px 22.1px 0;
  width: 267.3px;
  height: 237.9px;
}

.rectangle-38-image {
  object-fit: cover;
  margin: 0 0px 22.1px 0;
  width: 267.3px;
  height: 237.9px;
}

.rectangle-39 {
  border-radius: 76px 0 0 0;
  background: #AB1B1E;
  margin-left: 0px;
  width: 267.3px;
  height: 112px;
  transform: rotate(180deg); /* Rotate the rectangle by 180 degrees */
}


.name {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: #7E1416;
}

.mobile {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: #7E1416;
}

.email {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: #7E1416;
}

.contact-us-header {
  color: #7E1416;
  font-family: 'Open Sans';
  font-size: 24px;
  margin-right: 310px;
  margin-bottom: 80px;
  white-space: nowrap;
}

.button-submit{
  border-radius: 6px;
  background: #7E1416;
  color: white;
  margin-top: 30px;
  margin-left: 460px;
  
}



/* Custom CSS for specific styling */

.container-custom {
  background-color: #FFEAEB;
  padding: 20px;
}

.circle-img {
  width: 69px;
  height: 69px;      
  border-radius: 50%;
  background-color: #7E1416;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
}

.circle-img img {
  max-width: 100%;
  width: 55px;
  height: 55px;
  filter: invert(100%);
}

.industry-container {
  text-align: center;
  padding: 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  color: #911719;
  margin-bottom: 50px;
}

.text-style{
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.273;
  color: #1C1C1C;
  margin-bottom: 10px;
}

.selected {
  border-radius: 25px;
  background: #FFFFFF;
  position: relative;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 21px 0;
  width: 268px;
  box-sizing: border-box;
}

.selected-row {
  margin-bottom: 90px;
}


/* styles for the products section */

.custom-frame {
  overflow: hidden;
  height: 300px;
  width: 100%;

}

.custom-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.custom-overlay {
  background: rgba(255, 162, 162, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.raw-names {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans';
  font-weight:bold;
  font-size: 6rem;
  color: #7E1416;
}


.custom-image-1 {
    background-image: url('../assets/images/congratulations-us-young-people-working-call-center-new-deals-is-coming.jpeg');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.custom-image-2 {
    background-image: url('../assets/images/pexels-fauxels-3184635.jpeg');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.custom-image-3 {
    background-image: url('../assets/images/human-resources-concept-with-hand;.jpeg');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.products-header {
    color: #7E1416;
    font-family: 'Open Sans';
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 80px;
    font-weight: bold;
}
